*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$clr-gray: #626669;
$clr-lightgray: hsl(220, 7%, 87%);
$clr-comment: #f0f2f5;
$clr-comment-now: #e7f3ff;
$spacer-out: 0.78em;

.clr-gray {
    color: $clr-gray;
}

.සිංහල {
    font-family: 'Noto Sans Sinhala', sans-serif;
}

.link {
    color: #2e89ff;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.top {
    margin: $spacer-out;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.publisher {
    display: flex;
    flex-direction: row;

    .avatar {
        min-width: 42px;
        min-height: 42px;
        width: 42px;
        height: 42px;
        margin-right: 0.4em;
        
        img {
            border-radius: 100%;
            width: 100%;
        }
    }

    .data {

        p.user {
            padding: 0;
            font-size: .97em;
            line-height: 1.1;

            span b {
                color: black;
            }
        }

        p.meta {
            padding: 0;
            padding-top: 4px;
            font-size: .8em;
            
            > * {
                vertical-align: middle;
            }
            
            img {
                height: .93em;
            }
        }
    }
}

.content {
    margin: $spacer-out;
    margin-bottom: 0;

    p {
        line-height: 1.4;
        font-size: 0.97em;
        word-spacing: -0.2em;

        span {
            font-family: 'Roboto', sans-serif;
        }
    }
}

.shared-post {
    margin: $spacer-out;
    margin-bottom: 0;
    border: 2px solid $clr-lightgray;

    .shared-top {
        margin: 0.6em;
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;

        .publisher {
            display: flex;
            flex-direction: row;
        
            .avatar {
                min-width: 32px;
                min-height: 32px;
                width: 32px;
                height: 32px;
                margin-right: 0.4em;
                
                img {
                    border-radius: 100%;
                    width: 100%;
                }
            }
        
            .data {
        
                p.user {
                    padding: 0;
                    font-size: .97em;
                    line-height: 1.1;
        
                    span b {
                        color: black;
                    }
                }
        
                p.meta {
                    padding: 0;
                    padding-top: 4px;
                    font-size: .8em;
                    
                    > * {
                        vertical-align: middle;
                    }
                    
                    img {
                        height: .93em;
                    }
                }
            }
        }

        .horizontal-icon {

            div {
                color: $clr-gray;
                font-size: 0.8em;
                display: flex;
                flex-direction: row;
                align-items: center;
                border: 1px solid $clr-gray;
                border-radius: 4px;

                > * {
                    vertical-align: middle;
                }
                img {
                    margin: 0.5em;
                    margin-right: 4px;
                    width: 16px;
                }
                
                p {
                    margin: 0.5em;
                    margin-left: 0;
                }
            }
        }
    }

    .shared-content {
        margin: 0.6em;

        p {
            line-height: 1.4;
            font-size: 0.97em;
            word-spacing: -0.2em;
    
            span {
                font-family: 'Roboto', sans-serif;
            }
        }

    }
    
    .cover {
        margin-top: 0.6em;
        
        img {
            margin-left: -0.78em;
            width: calc(100% + calc(0.78em * 2));
        }
    }
}


.people {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.6em $spacer-out;

    .reaction {
        display: flex;
        justify-content: center;
        align-items: center;

        .reactions {
            display: flex;

            > div {
                width: 20px;
                height: 20px;
                border-radius: 100%;
                border: 2px solid white;
            }

            > div + div {
                margin-left: -4px;
            }

            > div:nth-child(1) {
                z-index: 3;
            }
            
            > div:nth-child(2) {
                z-index: 2;
            }
            
            > div:nth-child(3) {
                z-index: 1;
            }

            img {
                width: 100%;
            }
        }

        .reaction-count {
            font-size: 0.84em;
        }
    }
    
    .comments-count {
        font-size: 0.84em;
    }
}

.actions {

    > div {
        margin: 0 $spacer-out;
        padding: $spacer-out 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-top: 1px solid $clr-lightgray;
        border-bottom: 1px solid $clr-lightgray;

        > div {
            display: flex;
            align-items: center;
        }
    }

    .action-icon {
        width: 19px;

        img {
            width: 100%;
            vertical-align: middle;
        }
    }

    .action-name {
        margin-left: 0.4em;
        font-size: 0.84em;
        vertical-align: middle;
    }
}

.comment-section {

    > div {
        margin: $spacer-out;
    }

    .comment {
        display: flex;

        .avatar {
            min-width: 40px;
            min-height: 40px;
            width: 40px;
            height: 40px;
            margin-right: 0.4em;

            img {
                width: 100%;
                border-radius: 100%;
            }
        }

        .comment-data {

            .comment-content {
                padding: 0.4em 0.7em;
                background-color: $clr-comment;
                border-radius: 1.1em;
                display: inline-block;
                
                p.commenter {
                    font-size: 0.9em;
                    line-height: 1.2;
                }
            }
            
            .comment-actions {
                font-size: 0.87em;
                font-weight: bold;
                color: $clr-gray;
                display: flex;
                margin-bottom: $spacer-out;

                p.like {
                    padding: 0.4em 0 0 0.8em;
                }

                p.reply {
                    padding-top: 0.4em;
                }
                
                > p {
                    margin-right: 1.5em;
                }

                .comment-reactions {
                    margin-left: auto;
                    display: flex;
                    align-items: center;
                    
                    > p {
                        padding-top: 0.4em;
                        vertical-align: middle;
                        margin-right: 0.3em;
                        font-weight: normal;
                    }
                    
                    div {
                        margin-top: 0.3em;
                        display: flex;

                        > div {
                            margin-top: 0;
                            width: 20px;
                            height: 20px;
                            border: 2px solid white;
                            border-radius: 100%;
                        }

                        > div + div {
                            margin-left: -4px;
                        }
            
                        > div:nth-child(1) {
                            z-index: 3;
                        }
                        
                        > div:nth-child(2) {
                            z-index: 2;
                        }
                        
                        > div:nth-child(3) {
                            z-index: 1;
                            margin-right: -2px;
                        }

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .reply-comment {
        margin-left: calc(40px + 0.4em);
        display: flex;

        .avatar {
            margin-top: 0.4em;
            min-width: 25px;
            min-height: 25px;
            width: 25px;
            height: 25px;
            margin-right: 0.4em;

            img {
                width: 100%;
                border-radius: 100%;
            }
        }

        .comment-data {

            .comment-content {
                padding: 0.4em 0.7em;
                background-color: $clr-comment;
                border-radius: 1.1em;
                display: inline-block;
                
                p.commenter {
                    font-size: 0.9em;
                    line-height: 1.2;
                }
            }
            
            .comment-actions {
                font-size: 0.87em;
                font-weight: bold;
                color: $clr-gray;
                display: flex;
                margin-bottom: $spacer-out;

                p.like {
                    padding: 0.4em 0 0 0.8em;
                }

                p.reply {
                    padding-top: 0.4em;
                }
                
                > p {
                    margin-right: 1.5em;
                }

                .comment-reactions {
                    margin-left: auto;
                    display: flex;
                    align-items: center;
                    
                    > p {
                        padding-top: 0.4em;
                        vertical-align: middle;
                        margin-right: 0.3em;
                        font-weight: normal;
                    }
                    
                    div {
                        margin-top: 0.3em;
                        display: flex;

                        > div {
                            margin-top: 0;
                            width: 20px;
                            height: 20px;
                            border: 2px solid white;
                            border-radius: 100%;
                        }

                        > div + div {
                            margin-left: -4px;
                        }
            
                        > div:nth-child(1) {
                            z-index: 3;
                        }
                        
                        > div:nth-child(2) {
                            z-index: 2;
                        }
                        
                        > div:nth-child(3) {
                            z-index: 1;
                            margin-right: -2px;
                        }

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}